.nav-1 {
    height: 80px;
    background: #0078AD;
}

.nav-2 {
    height: 48px;
    background: #0C5273;
}

main {
    height: 600px;
    border: 1px solid black;
}

footer {
    height: 545px;
    background: #F5F5F5;
}

.search-container {
    position: relative;
    width: 100%;
  }
  
  .search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    
  }
  .doted_icon{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px; 
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
    
    
  }
  
  .placeholder_clr::placeholder {
    color: white; /* Adjust the color and opacity as needed */
  }